* text=auto

*.cs text eol=lf
*.csproj text eol=lf
*.config text eol=lf
*.json text eol=lf
*.md text eol=lf
*.props text eol=lf
*.sln text eol=crlf
*.targets text eol=lf
*.xaml text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.zip binary
